@import './../../../assets/scss/variables';

.sub-menu {
  width: 360px;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  &__close {
    align-self: flex-start;

    &__icon {
      border-radius: 100rem;
      padding: 4px;
      font-weight: 700;
      cursor: pointer;
      transition: all 0.5s ease;
      font-size: 42px;
      color: $red;

      &:hover {
        background-color: $lightGrey;
      }
    }
  }

  &__list {
    width: 100% !important;
    padding: 0 12px;

    &__item {
      border-radius: 100rem;
      color: $black;
    }
  }
}
