.link {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  color: #19191b;
  font-weight: bold;
}

.close-icon {
  width: 100%;
  justify-content: flex-end;
  &:hover {
    background-color: unset;
  }
}